.form2__fieldset {
  border: none;
  box-shadow: 0 0 50px hsl(223, 84%, 24%);
  padding: 50px;
  border-radius: 50px;
  background-color: rgb(254, 254, 249);
}

.form2__legend {
  background-color: hsl(223, 84%, 24%);
  color: rgb(254, 254, 249);
  padding: 20px 50px;
  width: 90%;
  text-align: center;
  border-radius: 50px;
}

.form2__button {
  background-color: hsl(223, 84%, 24%);
  display: block;
  color: ivory;
  padding: 20px;
  border: none;
  border-radius: 50px;
  margin: auto;
  width: 40%;
  margin-top: 50px;
  box-shadow: 5px 5px 4px #ccc;
}

.form2__button:hover {
  background-color: hsl(223, 84%, 20%);
}
.form2__button:active {
  background-color: hsl(223, 84%, 30%);
}
.form2__text {
  max-width: 250px;
  width: 100%;
  color: hsl(223, 84%, 24%);
  display: inline-block;
  font-weight: bold;
  line-height: 2;
}
.form2__hint {
  display: inline-block;
  max-width: 250px;
  width: 100%;
  color: rgb(111, 111, 111);
}
.form2__input {
  border: 1px solid #ddd;
  padding: 10px;
  max-width: 400px;
  width: 100%;
  border-radius: 50px;
  margin-top: 10px;
}

.form2__input:required {
  border-color: hsl(223, 84%, 24%);
  border: 2px solid hsl(223, 84%, 30%);
}

.paragraph2__result {
  color: hsl(223, 84%, 24%);
  text-align: center;
  padding-top: 20px;
  font-size: large;
}
