html {
    box-sizing: border-box;
}
  
*,
  ::after,
  ::before {
    box-sizing: inherit;
}
  

.body {
font-family: 'Lato', sans-serif;
max-width: 800px;
margin: auto;
padding:10px;
}

.container {
  margin-bottom:150px;
}

